<!DOCTYPE html>
<html lang="en">
<head>
  <title>List Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Documentation P.WEB 3</h2>
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Name API</th>
        <th>LINK API</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Views books</td>
        <td>/product/books</td>
        <td>Untuk melihat semua buku, METHOD POSTMAN <b>GET</b></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Views one books</td>
        <td>/product/books/detail/:id</td>
        <td>Untuk melihat satu buku, METHOD POSTMAN <b>GET</b>, contoh /product/books/detail/2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Add books</td>
        <td>/admin/books</td>
        <td>Untuk menambah buku, METHOD POSTMAN <b>POST</b>, <br><b>JSON :</b><br><br>
        "name": " ",<br>
        "price": ,<br>
        "category": " ",<br>
        "author": " ",<br>
        "publisher": " "</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Update books</td>
        <td>/admin/books/:id</td>
        <td>Untuk edit buku, METHOD POSTMAN <b>PUT</b>, contoh /admin/books/2<br><b>JSON :</b><br><br>
        "name": " ",<br>
        "price": ,<br>
        "category": " ",<br>
        "author": " ",<br>
        "publisher": " "</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Delete books</td>
        <td>/admin/books/:id</td>
        <td>Untuk delete buku, METHOD POSTMAN <b>DELETE</b>, contoh /admin/books/2</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Register Account</td>
        <td>/user/register</td>
        <td>Untuk register akun, METHOD POSTMAN <b>POST</b><b><br>JSON :</b><br><br>
        "username": " ",<br>
        "email": " ",<br>
        "password": " ",<br>
        "roles": " "</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Login Account</td>
        <td>/user/register</td>
        <td>Untuk login akun, METHOD POSTMAN <b>POST</b><b><br>JSON :</b><br><br>
        "username": " ",<br>
        "email": " "</td>
      </tr>
      <tr>
        <td>8</td>
        <td>View Cart</td>
        <td>/cart</td>
        <td>Untuk lihat semua keranjang, METHOD POSTMAN <b>GET</b></td>
      </tr>
      <tr>
        <td>9</td>
        <td>Add Cart</td>
        <td>/cart/addCart</td>
        <td>Untuk menambahkan barang ke keranjang, METHOD POSTMAN <b>POST</b><br><b>JSON :</b><br><br>
        "bookId": " ",<br>
        "userId": " "</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>